        header{
            display: flex;
            justify-content: space-between;
        }
        .right-section{
            display: flex;
            background-color: rgb(255, 255, 255);
            align-items: center;
            justify-content: center;
            gap: 15px;
            
            
        }
        .left-section{
            display: flex;
            font-family: monospace;
            font-size: medium;
            font-weight: 500;
            
        }
        .site-logo{
            object-fit: cover;
            height: 50px;
            width: 50px;
            border-radius: 25px;
        }
        .items{
            display: flex;
            gap: 5px;
        }